ALGOLIA_API_KEY=your_algolia_api_key
ALGOLIA_APP_ID=your_algolia_app_id
ALGOLIA_INDEX_NAME=PostsSearch
COLLECTION_PATH=posts
DATABASE_ID=(default)
DO_FULL_INDEXING=true
FIELDS=title,content,photoURL,authorId,author,createdAt,likesCount,dislikesCount,commentsCount,createdAt
FORCE_DATA_SYNC=yes
LOCATION=europe-west1